@model archi_company_mvc.Models.Equipment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">  
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label">@Html.DisplayNameFor(model => model.Room)</label>
                <select asp-for="RoomId" class="form-control" asp-items="@ViewBag.Rooms"></select>

                <a asp-area="" asp-controller="Rooms" asp-action="Create" >Create Room</a>
            </div>
            <div class="form-group">
                <label asp-for="InstallationDate" class="control-label"></label>
                <input asp-for="InstallationDate" class="form-control" />
                <span asp-validation-for="InstallationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentTypeId" class="control-label">@Html.DisplayNameFor(model => model.EquipmentType)</label>
                <select asp-for="EquipmentTypeId" class="form-control" asp-items="@ViewBag.EquipmentTypes"></select>

                <a asp-area="" asp-controller="EquipmentTypes" asp-action="Create" >Create Equipment Type</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
