@{
    ViewData["Title"] = "Home Page";
}
@model archi_company_mvc.Controllers.EntityAutocompleteResponse  
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">    
<script src="//code.jquery.com/jquery-1.10.2.js"></script>    
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>    
<script type="text/javascript">    
    $(document).ready(function () {    
        $("#Search").autocomplete({    
            source: function (request, response) {    
                $.ajax({    
                    url: "/Home/Index",    
                    type: "POST",    
                    dataType: "json",    
                    data: { Prefix: request.term },    
                    success: function (data) {    
                        response($.map(data, function (item) {    
                            return { label: item.Name, value: item.Name};    
                        }))    
                    }    
                })    
            },    
            messages: {    
                noResults: "", results: ""    
            }    
        });    
    })    
</script>    
@using (Html.BeginForm())    
{    
    @Html.AntiForgeryToken()    
    
    <div class="form-horizontal">    
    
        <hr />    
    
        <div class="form-group">    
    
            <div class="col-md-12">    
                <input class="form-control text-box single-line" id="Search" name="search" type="text" value="">    
    
            </div>    
        </div>    
    
    </div>    
}    
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>